<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div class="container">
      <div class="row">
        <div id="banner" class="col-md-12">
          <%= image_tag("logo.png") %>
          <%= @page_title || "Pragmatic Bookshelf" %>
        </div>
      </div>
		</div>	

    <div id="columns" class="container main ">
      <div class="row">

        <div id="side" class="col-md-3">
          <time><%= Time.zone.now.to_s(:ru_datetime) %></time> 
          
          <div id="cart">
            <% if @cart %>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
              <% end %>
            <% end %>
          </div>

          <ul>
            <li><a href="http://www....">Home</a></li>
            <li><a href="http://www..../faq">Questions</a></li>
            <li><a href="http://www..../news">News</a></li>
            <li><a href="http://www..../contact">Contact</a></li>
          </ul>

          <% if session[:user_id] %>
            ul>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
            </ul>
            <%= button_to 'Logout', logout_path, method: :delete %>
          <% end %>
          
        </div>

  		  <div id="main" class="col-md-9">
<!--      <% params.each do |p| %>
            <%= p %><br>
          <% end %>
-->
<!--      	  
<h4>Запрос</h4> <%= debug(request) %>
<h4>Параметры</h4> <%= debug(params) %>
<h4>Ответ</h4> <%= debug(response) %>
-->
<!-- <p>
<ul>
<% %w{ создать перечислить изменить сохранить выйти }.each do |action| %>
<li>
<%= link_to_unless_current(action.capitalize) %>
</li>
<% end %>
</ul>
</p>
 -->

       <%= yield %>
        </div>

    </div>
  </body>
</html>
